.home > .container > .content {
	position: relative;
}

.home > .container > .content::before {
	content: "";
	top:0;left:0;right:0;bottom:0;
	position:absolute;
	z-index:-1;
	opacity: 0.2;
	background-image: url(favicon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

article img {
	border-radius: 3px;
	max-width: 100%;
}

article > .notice {
	/* <div class="notice"></div> */
	padding: 1rem;
	font-weight: bold;
	border-radius: 3px;
	background: rgb(80, 31, 255);
	color: white;
	
	&.stub {
		/* <div class="notice stub"></div> */
		&::before {
			content: "This article is a stub. Perhaps help us expand it?";
		}
		background: rgb(255, 203, 31);
		color: rgb(29, 45, 53);
	}
}

pre code {
	scrollbar-width: initial !important;
	scrollbar-color: #e9ecef transparent !important;
}

body:not(.dark) a:not(.btn-primary) {
	color: rgb(80, 31, 255);
}

a > code {
	font-size: inherit;
	padding: 0 0.125rem;
}

a[href*="//"]:not([href*="voxel.wiki"]):not([href*="127.0.0.1"]) {
	/* external links */
	color: rgb(51, 133, 255) !important;
}
