@font-face {
	font-family: 'monofont';
	src: local(Hack),local(sfmono-regular),local(menlo),local(monaco),local(consolas),local("Liberation Mono"),local("Courier New"),local(monospace);
}

html {
	scroll-padding-top: 4.25rem;
}

html:has(body.draft) {
	background: repeating-linear-gradient(45deg, rgb(17, 17, 17) 0% 5%, rgb(218, 165, 32) 5% 10%);
	padding: 0 2rem;
}

body.dark {
	color-scheme: dark;
}

.home > .container > .content {
	position: relative;
}

.home > .container > .content::before {
	content: "";
	top:0;left:0;right:0;bottom:0;
	position:absolute;
	z-index:-1;
	opacity: 0.2;
	background-image: url(favicon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

img {
	display: inline-block;
	position: relative;
	min-width:  2rem;
	min-height: 1rem;
	
	/*
	&.bg::before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		right: 0; bottom: 0;
		
		background-color: #fcc;
		border-radius: 5px;
	}
	*/
}

ul {
	&.big-gap li,
	&.big-gap ul {
		padding-bottom: 0.75rem;
	}
	
	li.important {
		&:first-child {margin-bottom: 0.5rem}
		& a {
			font-weight: bold;
			font-size: 1.25em;
		}
	}
}

table { margin: 2rem 0 }
p + table {
	margin-top: 1rem;
}

details > summary + * {
	margin-top: 0;
}

.table > :not(:last-child) > :last-child > *, table > :not(:last-child) > :last-child > * {
	border-bottom-width: 0.125rem;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', 'Segoe UI Variable Text', "Segoe UI", Roboto, Helvetica, 'Helvetica Neue', "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Arial, system-ui, sans-serif, "Apple Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Android Emoji";
	font-weight: 400;
	& .content article {
		font-family: 'Atkinson Hyperlegible', Roboto, Helvetica, 'Helvetica Neue', "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Arial, sans-serif, "Apple Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Android Emoji";
		font-weight: normal;
		& p { text-wrap: pretty; }
		& :is(h1,h2,h3,h4,h5,h6) {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Variable Heading', "Segoe UI", Roboto, Helvetica, 'Helvetica Neue', "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Arial, system-ui, sans-serif, "Apple Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Android Emoji";
			font-weight: 500;
			text-wrap: pretty;
		}
	}
}

article *:last-child {
	margin-bottom: 0;
}

article img {
	border-radius: 3px;
	max-width: 100%;
}

article q.fancy {
	quotes: "«" "»";
	font-style: italic;
	color: light-dark(#555,#bbb);
}

article .important {
	font-size: 1.2em;
}

article .footnote-definition {
	margin-bottom: 1rem;
}

article p > img:only-child {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

article .exclusive-choice-set {
	margin-bottom: 1rem;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 0.25rem;
	
	padding-left: 0;
	padding: 0.25rem;
	
	border-radius: 0.75rem;
	
	background: rgba(222, 226, 230, 0.25);
	body.dark & {
		background: rgba(0, 0, 0, 0.25);
	}
	
	li {
		display: flex;
		flex: 1 0 auto;
	}
	
	a {
		flex: 1 0 auto;
		padding: 0.5em;
		text-align: center;
		
		border-radius: 0.5rem;
		border: 1px solid transparent;
		
		background: rgba(0, 0, 0, 0.075);
		body.dark & {
			background: rgba(0, 0, 0, 0.25);
			border-color: rgba(222, 226, 230, 0.25);
		}
		
		&:only-child {font-weight: bold;}
	}
}

article blockquote {
	border-radius: 0.125rem;
	border-left: 0.25rem solid rgb(222, 226, 230);
	background: rgba(222, 226, 230, 0.05);
	padding: 0.25rem;
	padding-left: 0.333rem;
	
	& .author {color: #65737e}
}

article > .notice {
	/* <div class="notice"></div> */
	display: flow-root;
	margin-bottom: 1rem;
	padding: 0.25rem 0.5rem;
	border-radius: 5px;
	
	@mixin notice-color($color) {
		border-left: 0.25rem solid rgba($color, 1);
		background: rgba($color, 0.2);
	}
	
	@include notice-color(rgb(29, 45, 53));
	
	&.stub {
		/* {{ stub_notice() }} */
		font-weight: bold;
		@include notice-color(rgb(220, 180, 0));
	}
	
	&.info {
		/* {% info_notice() %} ... {% end %} */
		@include notice-color(rgb(50, 200, 255));
	}
	
	&.todo {
		/* {% todo_notice() %} ... {% end %} */
		@include notice-color(rgb(255, 200, 0));
	}
	
	&.warning {
		/* {% warn_notice() %} ... {% end %} */
		@include notice-color(rgb(255, 20, 20));
	}
	
	&.float {
		float: right;
		margin-top: 0.125rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		width: 14rem;
	}
	
	& :first-child {
		margin-top: 0;
	}
	
	& :last-child {
		margin-bottom: 0;
	}
}

.chapters-nav {
	margin-top: 1rem;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
	.chapters-link {
		width: 100%;
		max-width: 16rem;
		flex: 1 0 auto;
		
		padding: 0.5rem;
		display: inline-flex;
		flex-flow: column nowrap;
		
		background: rgba(0,0,0,0.075);
		border-radius: 0.5rem;
		
		.chapters--dir {
			font-size: 0.9rem;
		}
		
		.chapters--txt {
			font-weight: bold;
		}
		
		&.chapters-none {
			align-items: center;
			justify-content: center;
			opacity: 0.75;
		}
		
		&.chapters-prev {
			align-items: flex-end;
		}
		
		&.chapters-next {
			align-items: flex-start;
		}
	}
	
	.chapters-split {
		clear: both;
	}
}

pre, code, kbd, samp {
	font-family: 'monofont';
}

pre {
	position: relative;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
}

pre[data-lang]::after {
	position: absolute;
	top: 0; right: 0;
	display: inline-block;
	content: attr(data-lang);
	padding: 0.2em;
	background: black;
	color: whitesmoke;
	opacity: 0.3;
	border-radius: 3px;
	text-transform: capitalize;
}

pre code {
	padding: 0.5rem;
	overflow: auto;
	scrollbar-width: initial !important;
	scrollbar-color: #e9ecef transparent !important;
}

pre mark {
	// If you want your highlights to take the full width.
	display: block;
	// The default background colour of a mark is bright yellow
	background-color: rgba(254, 252, 232, 0.9);
}

pre table {
	width: 100%;
	border-collapse: collapse;
	color: white;
	
	tr,td,th {
		border: none;
	}
	
	td {
		padding: 0;
	}
	
	td:nth-of-type(1) {
		text-align: center;
		user-select: none;
		color: grey;
	}
}

code {
	font-size: inherit;
	
	& > table {
		margin: 0;
	}
}

figure {
	margin: 0 0;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid rgb(200, 204, 209);
	background: rgb(248, 249, 250);
	padding: 3px;
	
	display: flex;
	flex-flow: column nowrap;
	
	&.float {
		float: right;
		margin-top: 0.125rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		
		& figcaption {
			width: 100%;
			max-width: 14rem;
		}
	}
	
	&.aspect img {
		object-fit: contain;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
	
	&.contain img {
		object-fit: contain !important;
	}
	
	&.cover img {
		object-fit: cover !important;
	}
	
	&>table {margin: 0}
	&>p {display: contents}
	&:not(.full) img {
		object-fit: contain;
		width: 100%;
		max-height: 192px;
	}
	
	&.bg-black {background: black;}
	&.bg-white {background: white;}
	&.bg-chkr {background: url("data:image/gif;base64,R0lGODlhEAAQAHAAACwAAAAAEAAQAIG/v7////8AAAAAAAACH4RvoauIzNyBSyYaLMDZcv15HAaSIlWiJ5Sya/RWVgEAOw==");}
	
	&>:not(figcaption) {
		border: 1px solid rgb(200, 204, 209);
		border-radius: 3px;
	}
	
	figcaption {
		color: black;
		font-size: 0.75rem;
		white-space: pre-line;
		padding: 0.125rem;
		p:only-child {display: contents}
	}
	
	&.clear-header + h1,
	&.clear-header + h2,
	&.clear-header + h3 {
		clear: both;
	}
}

a {
	word-wrap: break-word;
	
	body:not(.dark) &:not(.btn-primary) {
		color: rgb(80, 31, 255);
	}
	
	& > code {
		padding: 0 0.125rem;
	}
	
	/* external links */
	&[href*="//"]:not(
		[href*="voxel.wiki"], /* dont show on primary domain */
		[href*="127.0.0.1"], /* dont show on localhost site */
		[href*="localhost"] /* dont show on localhost site */
	) {
		color: rgb(51, 133, 255) !important;
	}
	
	/* external links: indicator icon */
	article &[href*="//"]:not(
		.card-link,
		[href*="voxel.wiki"], /* dont show on primary domain */
		[href*="127.0.0.1"], /* dont show on localhost site */
		[href*="localhost"], /* dont show on localhost site */
		[href*="/wiki/File:"i], /* dont show on wikipedia images */
		/* dont show on images */
		[href*=".png"i],
		[href*=".jpeg"i],
		[href*=".jpg"i],
		[href*=".svg"i]
	)::after {
		content: '\A0';
		display: inline-block;
		width: 0.75em;
		height: 0.75em;
		
		/**
			Did you know that you can abuse mask-image like this?
			Well, me neither... but hey, it works! :'D
		**/
		background: currentColor;
		--mask: url("data:image/svg+xml;utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path fill=\"white\" d=\"M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z\"/></svg>");
		mask-image: var(--mask);
		mask-size: cover;
		-webkit-mask-image: var(--mask);
		-webkit-mask-size: cover;
	}
	
	&.missing {
		color: rgb(255, 100, 50) !important;
	}
}

@media (prefers-contrast: more) {
	a {
		text-decoration: underline;
	}
}
