{# Default page.html template #}

{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title_addition = "" %}
  {% if page.title and config.title %}
    {% set title = page.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif page.title %}
    {% set title = page.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  {% set created_time = page.date %}
  {% set updated_time = page.updated %}
  {% if current_section %}
    {% set page_section = current_section %}
  {% else %}
    {% set page_section = "" %}
  {% endif %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time, page_section=page_section) }}
{% endblock seo %}
  
{% block body %}
  {% if section.extra.class %}
    {% set page_class = page.extra.class %}
  {% else %}
    {% set page_class = "page single" %}
  {% endif %}
  {% if page.draft %}
    {% set page_class = page_class ~ " draft" %}
  {% endif %}
{% endblock body %}

{% block content %}
<div class="wrap container {{page.extra.container|default(value='')}}" role="document">
  <div class="content">
    <div class="row justify-content-center">
      {% if page.extra.breakpoints is defined %}
      <div class="{{page.extra.breakpoints}}">
      {% else %}
      <div class="col-md-12 col-lg-10 col-xxl-8">
      {% endif %}
        {% if page.taxonomies is defined %}
            <nav style="display:flex;flex-flow:row wrap;max-width:100%;font-size:0.9rem">
                {% set categories = page.taxonomies | get(key="categories", default=[]) %}
                {% for category in categories %}
                    {% if loop.index0 != 0 %}<span>,&nbsp;</span>{% endif %}
                    <a href="/categories/{{ category }}">{{ category | capitalize }}</a>
                {% endfor %}
                <span style="flex-grow:1"></span>
                {% set tags = page.taxonomies | get(key="tags", default=[]) %}
                {% for tag in tags %}
                    &emsp;<a href="/tags/{{ tag }}" style="opacity:0.5">#{{ tag }}</a>
                {% endfor %}
            </nav>
        {% endif %}
        <article>
          <div class="page-header">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.extra.lead %}<p class="lead">{{ page.extra.lead }}</p>{% endif %}
          {{ page.content | safe }}
        </article>
        {% if page.extra.chapters is defined %}
        <nav aria-label="chapter-navigation" class="chapters-nav">
          {% if page.extra.chapter_prev is defined and page.extra.chapter_prev != false %}
            <a href="{{page.extra.chapter_prev.link}}" class="chapters-link chapters-prev">
              <span class="chapters--dir">Previous Chapter:</span>
              <span class="chapters--txt">{{page.extra.chapter_prev.text}}</span>
            </a>
          {% else %}
            <span class="chapters-link chapters-none">No previous chapter.</span>
          {% endif %}
          {% if page.extra.chapter_next is defined and page.extra.chapter_next != false %}
            <a href="{{page.extra.chapter_next.link}}" class="chapters-link chapters-next">
              <span class="chapters--dir">Next Chapter:</span>
              <span class="chapters--txt">{{page.extra.chapter_next.text}}</span>
            </a>
          {% else %}
            <span class="chapters-link chapters-none">No next chapter.</span>
          {% endif %}
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if config.base_url is containing("localhost") %}
<script type="application/json+base64" class="hidden" id="debug_config" style="display:none">{{config | json_encode(pretty=true) | base64_encode | safe }}</script>
<script type="application/json+base64" class="hidden" id="debug_page" style="display:none">{{page | json_encode(pretty=true) | base64_encode | safe }}</script>
<script>
  let js_debug_config = JSON.parse(atob(debug_config.innerText));
  let js_debug_page = JSON.parse(atob(debug_page.innerText));
  let {content: _, ...js_debug_page_meta} = js_debug_page;
  console.log(js_debug_config);
  console.log(js_debug_page_meta);
</script>
{% endif %}
{% endblock content %}
