{% extends "page.html" %}
{% block body %}{% set page_class="projects" %}{% endblock body %}
{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <div class="page-header">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.extra.lead %}<p class="lead">{{ page.extra.lead }}</p>{% endif %}
          {{ page.content | safe }}
          
          {% set references = load_data(path="content/wiki/references.toml", format="toml") %}
          <small>
            There are currently {{ references | length }} references;
            the raw list can <a href="https://github.com/voxel-wiki/voxel-wiki.github.io/blob/main/content/wiki/references.toml">be found here</a>.
          </small>
          <style>
            #references {
              display: flex;
              flex-flow: column nowrap;
              gap: 1.5rem;
              margin: 1rem 0;
            }
            
            body.dark #references .card {
              background: rgba(0,0,0,0.25);
            }
            body.dark #references .card-header {
              border-bottom-color: #333;
            }
          </style>
          <div id="references" class="">{% for refname, reference in references %}
            <!--
            [SLUG]
            title = "TITLE"
            url = "URL"
            -->
            <section class="card">
              <header class="card-header">
                <h5 class="card-title" style="margin-top:0.5rem">
                  <a class="card-link" target="_blank" href="{{reference.url}}" id="{{refname}}">
                    {% if reference.title %}
                      {{reference.title}}
                    {% else %}
                      REF_TITLE_MISSING
                    {% endif %}
                  </a>
                </h5>
                <small class="card-subtitle"><code style="user-select: all">{{refname}}</code></small>
              </header>
              <!--
              <main class="card-body">
                ?
              </main>
                <footer></footer>
              -->
            </section>
          {% else %}
            <!-- References list is empty?! -->
          {% endfor %}</div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
