{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set taxonomy_name = term.name | capitalize %}
  {% set taxonomy_slug = term.slug %}
  {% set taxonomy_path = "/wiki/" ~ term.slug ~ "/" %}
  {% set taxonomy_page = term.pages | filter(attribute="path", value=taxonomy_path) | first %}
  {% if taxonomy_page != "" %}
  {% set taxonomy_name = taxonomy_page.title %}
  {% endif %}
  {% set title = "Pages in " ~ taxonomy_name %}
  {% set title_addition = "" %}
  {% if taxonomy.name == "tags" %}
  {% set title = "Pages tagged " ~ taxonomy_name %}
  {% endif %}
  {% if config.title %}
  {% set title_addition = title_separator ~ config.title %}
  {% endif %}
  {{ macros_head::seo(title=title, title_addition=title_addition) }}
{% endblock seo %}

{% block body %}{% set page_class="taxonomy" %}{% endblock body %}

{% macro list_item(tpage, title="", important=false) %}
{% if important == true %}<li class="important">{% else %}<li>{% endif%}
  <a href="{{ tpage.permalink | trim_end_matches(pat='/') }}">
    {% if title != "" %}
      {{ title }}
    {% else %}
    {{ tpage.title }}
    {% endif %}
  </a>
  <br>
  <blockquote style="font-size:0.75em">{{ tpage.summary | default(value=tpage.description) | safe }}</blockquote>
</li>
{% endmacro list_item %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <div class="page-header">
            <h1> {{ title | safe }} </h1>
          </div>
          <p><a href="/{{ taxonomy.name }}/">⇐ Go Back</a></p>
          <ul class=big-gap>
            {% if taxonomy_page != "" %}
              {{ self::list_item(tpage=taxonomy_page, title=taxonomy_name, important=true) }}
            {% endif %}
            {% for tpage in term.pages %}
                {% if tpage.path == taxonomy_path %}{% continue %}{% endif %}
                {{ self::list_item(tpage=tpage) }}
            {% endfor %}
          </ul>
          <br>
          {% if config.mode is matching("build") %}
          <section id="taxonomy-references">
            <hr>
            <style>
              #taxonomy-references:has(ul:empty) {display:none}
              #taxonomy-references h2 code {white-space: pre}
            </style>
            <h2>References tagged with <code>{{ taxonomy_slug }}</code></h2>
            <ul class="big-gap">
              {%- set references = load_data(path="content/wiki/references.toml", format="toml") -%}
              {%- set taxonomy_regex = "(?i)\b" ~ term.name ~ ".?\b" -%}
              {%- for refname, reference in references -%}
                {%- set reftags = reference | get(key="tags", default=[]) -%}
                {%- set reftitle = reference | get(key="title", default=reference.url) -%}
                {%- if reftags is containing(term.name)
                    or refname is matching(taxonomy_regex)
                    or reftitle is matching(taxonomy_regex)
                -%}
                  <li title="ref: {{refname}}"><a href="{{reference.url}}">
                    {%- if reference.title -%}
                    {{reference.title}}
                    {%- elif reference.url -%}
                    {{reference.url}}
                    {%- else -%}
                    REF_TITLE_MISSING
                    {%- endif -%}
                  </a></li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
            <br>
          </section>
          {%- else -%}
          <div class="notice warning">References are not resolved while in <code>serve</code> or <code>check</code> mode.</div>
          {%- endif -%}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
