{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set taxonomy_name = taxonomy.name | capitalize %}
  {% set title = taxonomy_name %}
  {% set title_addition = "" %}
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% endif %}
  {{ macros_head::seo(title=title, title_addition=title_addition) }}
{% endblock seo %}

{% block body %}{% set page_class="taxonomy" %}{% endblock body %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <div class="page-header">
            <h1> {{ taxonomy_name }} </h1>
          </div>
          <ul>
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink }}"> {{ term.name | capitalize }} </a>
                </li>
            {% endfor %}
          </ul>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
