{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set taxonomy_name = term.name | capitalize %}
  {% set taxonomy_path = "/wiki/" ~ term.slug ~ "/" %}
  {% set taxonomy_page = term.pages | filter(attribute="path", value=taxonomy_path) | first %}
  {% set title = "Pages in " ~ taxonomy_name %}
  {% set title_addition = "" %}
  {% if taxonomy.name == "tags" %}
    {% set title = "Pages tagged " ~ taxonomy_name %}
  {% endif %}
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% endif %}
  {{ macros_head::seo(title=title, title_addition=title_addition) }}
{% endblock seo %}

{% block body %}{% set page_class="taxonomy" %}{% endblock body %}

{% macro list_item(tpage, title="", important=false) %}
{% if important == true %}<li class="important">{% else %}<li>{% endif%}
  <a href="{{ tpage.permalink | trim_end_matches(pat='/') }}">
    {% if title != "" %}
      {{ title }}
    {% else %}
    {{ tpage.title }}
    {% endif %}
  </a>
  <br>
  <blockquote style="font-size:0.75em">{{ tpage.summary | default(value=tpage.description) | safe }}</blockquote>
</li>
{% endmacro list_item %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <div class="page-header">
            <h1> {{ title | safe }} </h1>
          </div>
          <p><a href="/{{ taxonomy.name }}/">⇐ Go Back</a></p>
          <ul class=big-gap>
            {% if taxonomy_page != "" %}
              {{ self::list_item(tpage=taxonomy_page, title=taxonomy_name, important=true) }}
            {% endif %}
            {% for tpage in term.pages %}
                {% if tpage.path == taxonomy_path %}{% continue %}{% endif %}
                {{ self::list_item(tpage=tpage) }}
            {% endfor %}
          </ul>
          <br>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
